@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

  ::selection {
    user-select: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  body {
    width: 100vw;
    height: 100vh;
    font-family: 'Karla', sans-serif;
    background-color: #171717;
    margin: 0;
  }
  

/* Nav Styles */

.nav-body-div {
    width: 100%;
    height: 10vw;
    top: 0;
    position: fixed;
    z-index: 999;
    background: #171717;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    backdrop-filter: blur(5px);
    opacity: 1!important; 
    background: rgba(23,23,23,0.85);
}

.nav-links {
    font-size: 2.5vw;
    display: inline;
    padding: .25rem .25em;
    color: #ececec;
    border-bottom: 3px solid transparent;
    transition: all .25s linear;
    margin-right: 6px;
    font-weight: 200;
    text-decoration: none;
}

.nav-links:hover {
    color: #7f7f7f;
    cursor: pointer;
    transition: all .25s linear;
}
.nav-links:active {
    color: #0827F5;
}

.section-link {
  text-decoration: none;
}

.right-side {
  margin-right: 2.5rem;
}

#on {
    border-bottom: 3px solid #ececec;
}


/* ComponentNav Styles */

#comp-navbar {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-btn p {
  margin-left: 2rem;
  padding: 0;
}

.bak-btn:hover {
  color: #7f7f7f;
    cursor: pointer;
    transition: all .25s linear;
}


/* Main Styles */

.Main-body-div {
    height: 91vh;
    width: 100vw;
    background-color: #171717;
    overflow: hidden;
}

.h1-div {
    margin-top: 11vw;
    margin-left: 5vw;
    cursor: default;
}

  .main-span {
    color: #0827F5;
    animation: dot 1.25s ease-in-out infinite;
  }

  @keyframes dot {
    0% {
      color: #171717;
    }
    50% {
      color: #0827F5;
    }
    100% {
      color: #171717;
    }
  }


  .header-text  {
    font-size: clamp(4rem, 12vw, 14rem);
    line-height: 1.25;
    letter-spacing: -.25vw;
    margin: 0;
    padding: 0;
    font-weight: 300;
    color: #e6e6e6;
    font-family: 'Fragment Mono', monospace;
  }

  #main-h1 {
    margin-left: 1vw;
    padding: 0;
    margin: 0;
  }


  /* Footer Styles */

  .footer-body-div {
    width: 100vw;
    height: 5rem;
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-text {
    margin: 0 10vw;
  }

  #tag {
    text-decoration: none;
    color: #0827F5;
    transition: all .25s linear;
    border-bottom: 1px solid #ececec;
  }
  #tag:hover {
    color: #0827F5;
    transition: all .25s linear;
    border-bottom: 1px solid #171717;
  }

  /* General Comp Styles */

  .comp-header-div {
    margin-top: 12rem;
  }

  .comp-header-text {
    font-size: 8vw;
    font-weight: 300;
    letter-spacing: -.25vw;
    padding: 0;
    padding-top: 3rem;
    margin-left: 5rem;
    font-family: 'Fragment Mono', monospace;
  }

  .comp-content {
    margin: 5rem;
    padding: 5rem 0;
    border-radius: 28px;
    background-color: #F5F5F5;
  }

  /* Colors Styles */

  .colors-body-div {
    background-color: #ececec;
    margin: 0;
  }

  .comp-content {
    margin: 2rem;
  }

  .extra-stuff-div {
    display: flex;
    align-items: flex-end;
    margin-left: 2.5vw;
  }

  .palette-div {
    margin-left: 4vw;
  }

  .hex-text {
  font-size: 1.85vw;
  line-height:28px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  }

  .outer {
    width: 85px;
    height: 85px;
    border: 1px solid #171717;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: 0 1.5vw;
    padding: 0;
    background-color: #fff;
  }
  
  .inner {
    width: 30px;
    height: 30px;
    background-color: #171717;
    border-radius: 50%;
    margin: 0 auto;
    transition: all .25s linear;
  }
  .inner:hover {
    width: 70px;
    height: 70px;
    transition: all .25s linear;
    cursor: pointer;
  }
  
  #grey {
    background-color: #ececec;
  }
  #drk-grey {
    background-color: #929292;
  }
  #blue {
    background-color: #0827F5;
  }
  
  #outer-white {
    background-color: #fff;
  }

  .color-grid-container {
    border-radius: 28px;
    display: flex;
    flex-direction: column;
  }

  .color-grid-div {
   margin-left: 2rem;
   margin-bottom: 1rem;
  }

  .border-div {
   padding: 0;
   margin: 0;
  }

  .color-grid {
    width: 6vw;
    height: 6vw;
    display: inline-block;
  }

  .color-grid-color {
    padding: 0;
    margin: 0;
    position: absolute;
  }

  #black-1 {
    background-color: #171717;
  }
  #black-2 {
    background-color: #323232;
  }
  #black-3 {
    background-color: #4c4c4c;
  }
  #black-4 {
    background-color: #666666;
  }
  #black-5 {
    background-color: #7f7f7f;
  }
  #black-6 {
    background-color: #999999;
  }
  #black-7 {
    background-color: #b2b2b2;
  }
  #black-8 {
    background-color: #e5e5e5;
  }
  #black-9 {
    background-color: #fff;
  }

  #blue-18 {
    background-color: #000;
  }
  #blue-17 {
    background-color: #020B49;;
  }
  #blue-16 {
    background-color: #030F62;
  }
  #blue-15 {
    background-color: #04137A;
  }
  #blue-14 {
    background-color: #041793;
  }
  #blue-13 {
    background-color: #051BAB;
  }
  #blue-12 {
    background-color: #061FC4;
  }
  #blue-11 {
    background-color: #0723DC;
  }
  #blue-10 {
    background-color: #0827f5;
  }

  #blue-1 {
    background-color: #0827f5;
  }
  #blue-2 {
    background-color: #3952F7;
  }
  #blue-3 {
    background-color: #5267F8;
  }
  #blue-4 {
    background-color: #6A7DF9;
  }
  #blue-5 {
    background-color: #8393FA;
  }
  #blue-6 {
    background-color: #9CA8FB;
  }
  #blue-7 {
    background-color: #B4BEFC;
  }
  #blue-8 {
    background-color: #CDD3FD;
  }
  #blue-9 {
    background-color: #fff;
  }

  #drk-grey-10 {
    background-color: #929292;
  }
  #drk-grey-11 {
    background-color: #838383;
  }
  #drk-grey-12 {
    background-color: #747474;
  }
  #drk-grey-13 {
    background-color: #666666;
  }
  #drk-grey-14 {
    background-color: #575757;
  }
  #drk-grey-15 {
    background-color: #494949;
  }
  #drk-grey-16 {
    background-color: #3A3A3A;
  }
  #drk-grey-17 {
    background-color: #2B2B2B;
  }
  #drk-grey-18 {
    background-color: #000;
  }

  #drk-grey-1 {
    background-color: #929292;
  }
  #drk-grey-2 {
    background-color: #A7A7A7;
  }
  #drk-grey-3 {
    background-color: #B2B2B2;
  }
  #drk-grey-4 {
    background-color: #BDBDBD;
  }
  #drk-grey-5 {
    background-color: #C8C8C8;
  }
  #drk-grey-6 {
    background-color: #D3D3D3;
  }
  #drk-grey-7 {
    background-color: #DEDEDE;
  }
  #drk-grey-8 {
    background-color: #F4F4F4;
  }
  #drk-grey-9 {
    background-color: #fff;
  }

  #grey-1 {
    background-color: #ececec;
  }
  #grey-2 {
    background-color: #EDEDED;
  }
  #grey-3 {
    background-color: #EFEFEF;
  }
  #grey-4 {
    background-color: #F1F1F1;
  }
  #grey-5 {
    background-color: #F3F3F3;
  }
  #grey-6 {
    background-color: #F5F5F5;
  }
  #grey-7 {
    background-color: #F7F7F7;
  }
  #grey-8 {
    background-color: #F9F9F9;
  }
  #grey-9 {
    background-color: #fff;
  }

  #grey-10 {
    background-color: #ececec;
  }
  #grey-11 {
    background-color: #D4D4D4;
  }
  #grey-12 {
    background-color: #BCBCBC;
  }
  #grey-13 {
    background-color: #A5A5A5;
  }
  #grey-14 {
    background-color: #8D8D8D;
  }
  #grey-15 {
    background-color: #767676;
  }
  #grey-16 {
    background-color: #464646;
  }
  #grey-17 {
    background-color: #2F2F2F;
  }
  #grey-18 {
    background-color: #000;
  }
  

  
/* Componenets Styles */


.comp-button-div {
  margin-bottom: 6vw;
  margin-left: 4vw;
}

#comp-needsmore-room-div {
  margin-bottom: 8vw;
  margin-left: 4vw;
}

.primary-btn {
  font-size: 2vw;
  border: none;
  color: #F5F5F5;
  background-color: #929292;
  width: 12vw;
  height: 6vw;
  border: 2px solid #929292;
  transition: all .25s linear;
}
.primary-btn:hover {
  cursor: pointer;
  color: #000;
  box-shadow: inset;
  border: 2px solid #171717;
  transition: all .25s linear;
}
.primary-btn:active {
  background-color: #0827F5;
  transform: translateY(2px);
}

.secondary-btn {
  font-size: 2vw;
  border: none;
  color: #171717;
  background-color: #ececec;
  width: 12vw;
  height: 6vw;
  margin-left: 1vw;
  border: 2px solid #ececec;
  transition: all .25s linear;
}
.secondary-btn:hover {
  cursor: pointer;
  color: #171717;
  box-shadow: inset;
  border: 2px solid #171717;
  transition: all .25s linear;
}
.secondary-btn:active {
  background-color: #0827F5;
  transform: translateY(2px);
}

.inline-btn {
  font-size: 2vw;
  font-weight: 600;
  margin: .5vw;
  border: none;
  color: #171717;
  background-color: #F5F5F5;
  width: 8vw;
  height: 6vw;
  margin-left: 1vw;
  transition: all .25s linear;
}
.inline-btn:hover {
  cursor: pointer;
  color: #0827F5;
  transition: all .25s linear;
}

.inline-btn:active {
  transform: translateY(2px);
}

/* Check Styles */

.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 21px;
  user-select: none;
}
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5vw;
  width: 1.5vw;
  border: 1px solid #171717;
  transition: all .25s linear;
}

.check-container:hover input ~ .checkmark {
  background-color: #ececec;
  transition: all .25s linear;
}

.check-container input:checked ~ .checkmark {
  background-color: #0827F5;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked ~ .checkmark:after {
  display: block;
}

.check-container .checkmark:after {
  left: .50vw;
  top: .15vw;
  width: .35vw;
  height: .85vw;
  border: solid #F5F5F5;
  border-width: 0 .25vw .25vw 0;
  transform: rotate(45deg);
}   

/* Searchbar Styles */

.comp-search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 45vw;
  height: 5vw;
  font-size: 2vw;
  outline: none;
  color: #171717;
  padding-left: 1vw;
  border: none;
  border-bottom: 1px solid #929292;
  background-color: #ececec;
}

.searchTerm:focus{
  color: #929292;
}

.searchButton {
  border: none;
  border-bottom: 1px solid #929292;
  background: #0827F5;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.fa-fa-search {
  color: #fff;
  font-size: 1.25vw;
}

.fa-fa-search:active {
  color:#171717;
}

/* Radio button */

.radio-container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
}

.radio-container input {
  position: absolute;
}

.radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.75vw;
  width: 1.75vw;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #171717;
  transition: all .25s linear;
}

.radio-container:hover input ~ .radio {
  background-color: #ececec;
  transition: all .25s linear;
}

.radio-container input:checked ~ .radio {
  background-color: #0827F5;
}

.radio:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .radio:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  z-index: 99;
}

/* Toggle Sty;es */

.toggle {
  appearance: none;
  width: 80px;
  height: 30px;
  display: inline-block;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid #171717;
  cursor: pointer;
  color: #171717;
  margin: 0;
  background-color:  #929292;
  transition: background-color .25s linear;
}

.toggle:before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background: #121c26;
  left: 2px;
  top: 1.85px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  color: #fff;
  transition: all .25s linear;
}

.toggle:checked:before {
  left: 50px;
  color: #171717;
}
.toggle:checked {
  background-color: #fff;
  color: #171717;
}



/* Dropdown Styles */

.dropdown-div {
  margin-bottom: 12vw;
}

.dropbtn {
  width: 14vw;
  height: 5vw;
  min-width: 160px;
  min-height: 40px;
  font-size: 2vw;
  background-color: #929292;
  box-shadow: 0px 2px 10px 0px #929292;
  color: #ececec;
  border: none;
  cursor: pointer;
  transition: all .25s linear;
}

.dropdown {
  position: relative;
  display: inline-block;
  transition: all .25s linear;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #929292;
  z-index: 1;
}

.dropdown-content p  {
  color: #171717;
  font-size: 1vw;
  font-weight: 600;
  width: 12vw;
  padding: 1vw;
  margin: 0;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content p:hover {
  background-color: #929292;
  transition: all .25s linear;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all .25s linear;
}

.dropdown:hover .dropbtn {
  background-color: #0827F5;
  transition: all .25s linear;
}




/* Images Styles */

.images-contaner {
  margin: 2rem;
  display: flex;
}

.image-container-text {
  margin-left: 4rem;
  padding: 0;
}

.image-div-50 {
  width: 50%;
  height: 30vw;
  margin: 1rem;
  overflow: hidden;
  box-shadow: 0 40px 90px -5px #b5b5b5;
}

.image-div-50 img {
  width: 100%;
  height: 100%;
  box-shadow: 0 40px 90px -5px #b5b5b5;
}

.image-div-40 {
  width: 40%;
  height: 30vw;
  box-shadow: 0 40px 90px -5px #b5b5b5;
  margin: 1rem;
  overflow: hidden;
}
.image-div-40 img {
  width: 100%;
  height: 100%;
  box-shadow: 0 40px 90px -5px #b5b5b5;
}

.image-div-60 {
  width: 60%;
  height: 30vw;
  box-shadow: 0 40px 90px -5px #b5b5b5;
  margin: 1rem;
  overflow: hidden;
}
.image-div-60 img {
  width: 100%;
  height: 100%;
  box-shadow: 0 40px 90px -5px #b5b5b5;
}

.image-div-33 {
  width: 33%;
  height: 25vw;
  box-shadow: 0 40px 90px -5px #b5b5b5;
  margin: 1rem;
  overflow: hidden;
}
.image-div-33 img {
  width: 100%;
  height: 100%;
}

.image-div-25 {
  width: 25%;
  height: 20vw;
  background: linear-gradient(300deg, rgba(23,23,23,1) 0%, rgba(236,236,236,1) 
  85%, rgba(236,236,236,1) 100%);
  margin: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image-div-25 img {
  width: 100%;
  height: 100%;
}

.image-div-25-radius {
  width: 25%;
  height: 20vw;
  border-radius: 28px;
  margin: 1rem;
  overflow: hidden;
  box-shadow: 0 40px 90px -5px #b5b5b5;
}
.image-div-25-radius img {
  width: 100%;
  height: 100%;
}

.image-inside-text {
  margin-left: 2rem;
  color: #f5f5f5;
}

#base-color-text {
  color: #171717;
}

#image-box-shadow {
  box-shadow: 40px 40px 40px 5px #b5b5b5;
}

#image-box-shadow-raised {
  box-shadow: 0 40px 90px -5px #b5b5b5;
}

#image-base-color {
  background: #f5f5f5;
  box-shadow: 0 40px 90px -5px #b5b5b5;
}

#image-radius-box-shadow {
  border-radius: 28px;
  box-shadow: 0 40px 90px -5px #b5b5b5;
}


/* Forms Styles */

::placeholder {
  color: #101820;
}

.form-comp-content {
  margin: 2rem;
  padding: 5rem 0;
  border-radius: 28px;
  background: #F5F5F5;
}

#form-text {
  font-size: 1.3vw;
  margin-left: .5vw;
}

.input-text {
  padding-left: 1vw;
}

.form-container-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.form-container-div input {
  width: 50vw;
  height: 5vw;
  font-size: 2.25vw;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid #929292;
  margin: .5rem;
  background-color: #ececec;
}

.form-container-div select {
  width: 51.25vw;
  height: 5vw;
  font-size: 2.25vw;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid #929292;
  margin: .5rem;
  background-color: #ececec;
}

.form-text-area {
  width: 49.25vw;
  height: 15vw;
  font-size: 2.25vw;
  line-height: 24px;
  padding: 1vw;
  font-family: 'Noto Sans', sans-serif;
  border: none;
  border-bottom: 1px solid #929292;
  margin: .5rem;
}

.submit-btn {
  font-size: 2vw;
  margin: .5vw;
  border: none;
  color: #F5F5F5;
  background-color: #929292;
  width: 12vw;
  height: 6vw;
  border: 2px solid #929292;
  transition: all .25s linear;
}
.submit-btn:hover {
  cursor: pointer;
  color: #171717;
  box-shadow: inset;
  border: 2px solid #171717;
  transition: all .25s linear;
}
.submit-btn:active {
  background-color: #0827F5;
  color: #171717;
}

/* Clock Styles */

#txt {
  width: 45%;
  font-size: 3vw;
  padding: 1vw;
  border: 1px solid #171717;
  background-color: #ececec;
  text-align: center;
}

#landing-txt {
  width:  25%;
  font-size: 3vw;
  padding: 1vw;
  border: 1px solid #171717;
  background-color: #ececec;
  text-align: center;
}


/* Typography Styles */

.text-info-div {
 display: flex;
 align-items: stretch;
 justify-content: space-around;
 flex-direction: row;
 font-size: 80px;
  line-height: 1;
  padding: 0;
  margin: 0;
  margin-bottom: 4rem;
}

.font-card-info {
  font-size: 48px;
  margin-left: 2rem;
}

.font-card-info-span {
  font-size: 2vw;
  line-height: 5vw;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: #0827F5;
}

.font-card-info-letter-span {
  font-size: 10vw;
  line-height: 10vw;
  font-weight: 400;
  letter-spacing: .1vw;
  padding: 0;
  margin: 0;
}

.font-card {
  width: 18rem;
  height: 28rem;
  background-color: #929292;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  box-shadow: 0 0 8px 2px #929292;
}

.abc-div {
  width: 35%;
  margin-left: 6vw;
}

.abc-text {
  font-size: 3vw;
  line-height: 1.25;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.text-div {
  margin-left: 2rem;
  margin-bottom: 4rem;
}

.text-h {
  padding: 0;
  margin: 0;
}

.text-text {
  margin: 0;
  padding: 0;
}

.h1-span {
  font-weight: 600;
  color: #0827F5;
}

.p-span {
  font-weight: 600;
  color: #0827F5;
}

#text-h1 {
  font-size: 12vw;
  line-height: 1.15;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

#text-h2 {
  font-size: 12vw;
  line-height: 1.15;
  letter-spacing: -.25vw;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-family: 'Fragment Mono', monospace;
}

#text-h4 {
  font-size: 8vw;
  line-height: 1.15;
  padding: 0;
  margin: 0;
}

#text-h6 {
  font-size: 1.85vw;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

#text-p {
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.par-div {
  margin: 2rem;
}

#text100 {
  font-size: 18px;
  line-height: 1.25;
  font-weight: 400;
}

#text75 {
  width: 75%;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 400;
}

#text50 {
  width: 50%;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 400;
}

#text25 {
  width: 25%;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 400;
}


  
  /* extra Styles */

  .div-line {
    height: 1px;
    width: 96%;
    margin: 4rem auto;
    background-color: black;
  }

  /* ProgressBar Styles */

  .progressbar-body-div {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
  }

  .progress-text {
    font-size: 36px;
    margin: 0;
    padding-bottom: 6px;
  }

  .progress{
    margin: 0 auto;
    width: 600px;
}
.progress .color{
    background-color: black;
    height: 6px;
    border-radius: 2px;
    animation: progres 4s infinite linear;   
    margin: 0; 
}
@keyframes progres{
    0%{
      width: 0%;
    }
    25%{
        width: 35%;
    }
    50%{
        width: 60%;
    }
    75%{
        width: 75%;
    }
    100%{
        width: 100%;
    }
};

@media only screen and (max-width: 480px) {
  .header-text  {
    font-size: 1rem;
    line-height: 0;
    letter-spacing: -.25vw;
    line-height: 12vh;
  }
  .footer-body-div {
    position: absolute;
  }
}