/* @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat&family=Noto+Sans+TC&family=Press+Start+2P&family=Roboto&display=swap');

body {
    margin: 5rem;
    background-color: whitesmoke;
} */

/* Nav Styles */

/* .nav-body-div {
    width: 100vw;
    height: 5rem;
    top: 0;
    position: fixed;
    z-index: 99;
    background-color: #101820;
}

h1 {
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 76px;
    font-weight: 100;
    text-align: left;
    border-left: 4px solid #0047AB;
    padding-left: 1rem;
  }

  .h1-div:hover {
    color: #0047AB;
    cursor: default;
  }
 */
